<ion-header>
  <ion-header translucent>
    <ion-toolbar style="--background: #000;">
      <!-- Back Button (or you can add another if needed) -->
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="color: #FFA500;"> Garage</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-list>
      <ion-list-header>
        <ion-label>Your Vehicles</ion-label>
      </ion-list-header>

      <ion-item-sliding *ngFor="let vehicle of vehicles$ | async">
        <ion-item>
          <ion-label>
            <h2>{{ vehicle.vehicleName }}</h2>
            <p>Type: {{ vehicle.vehicleType }}</p>
            <p>Mileage: {{ vehicle.mileage }}</p>
            <p>Power: {{ vehicle.power }} | Year: {{ vehicle.year }}</p>
            <p>Modifications: {{ vehicle.modsDone }}</p>
          </ion-label>

          <ion-button 
              slot="end" 
              color="danger" 
              (click)="deleteVehicle(vehicle.id)"
              class="delete-button"
            >
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteVehicle(vehicle.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <div *ngIf="(vehicles$ | async)?.length === 0" class="empty-state">
        <ion-icon name="car-sport-outline"></ion-icon>
        <p>No vehicles in your garage</p>
      </div>
    </ion-list>
  </div>

  <!-- Bottom Navigation -->
  <div class="bottom-nav">
    <ion-grid>
      <ion-row>
        <!-- Garage -->
        <ion-col class="ion-text-center">
          <ion-button (click)="goToGarage()" fill="clear" routerLink="/garage">
            <ion-icon name="car-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Maps (Nearest Track) -->
        <ion-col class="ion-text-center">
          <ion-button (click)="goToTrackFinder()" fill="clear" routerLink="/track-finder">
            <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Modifications -->
        <ion-col class="ion-text-center">
          <ion-button (click)="goToModifications()"  fill="clear" routerLink="/modifications">
            <ion-icon name="hammer-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Rider Stats -->
        <ion-col class="ion-text-center">
          <ion-button (click)="goToTrackMode()" fill="clear" routerLink="/track-mode">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>