<ion-content class="ion-padding">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.hasError('minlength')">
      Password must be at least 8 characters long.
    </div>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div class="error" *ngIf="signupForm.hasError('mismatch') && signupForm.get('confirmPassword')?.touched">
      Passwords do not match.
    </div>

    <ion-item>
      <ion-label position="floating">Mother's Maiden Name</ion-label>
      <ion-input type="text" formControlName="securityAnswer1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name of your First Pet</ion-label>
      <ion-input type="text" formControlName="securityAnswer2"></ion-input>
    </ion-item>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <ion-button expand="full" type="submit" [disabled]="!signupForm.valid">
      Register
    </ion-button>
  </form>
</ion-content>
