<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
      <small *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</small>
      <small *ngIf="loginForm.controls['email'].errors?.['email']">Enter a valid email.</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
      <small>Password is required.</small>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    <ion-button fill="clear" routerLink="/account-recovery">Forgot Your Password?</ion-button>
  </form>
</ion-content>
