<ion-header translucent>
  <ion-toolbar style="--background: #000;">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #FFA500;">Add Vehicle To Garage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>TRACKMYMODS</h1>
    <h2>Welcome to the add vehicle page</h2>
    <h2>Click add vehicle to add it to your garage!</h2>

    <!-- Add Vehicle Form -->
    <div *ngIf="showForm" class="form-section">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Vehicle Name</ion-label>
          <ion-input [(ngModel)]="newVehicle.vehicleName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mileage</ion-label>
          <ion-input type="number" [(ngModel)]="newVehicle.mileage"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Vehicle Type</ion-label>
          <ion-input [(ngModel)]="newVehicle.vehicleType"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Power</ion-label>
          <ion-input [(ngModel)]="newVehicle.power"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Year of Registration</ion-label>
          <ion-input [(ngModel)]="newVehicle.year"></ion-input>
        </ion-item>
      </ion-list>

      <div class="form-actions">
        <ion-button expand="block" (click)="saveVehicle()">Save Vehicle</ion-button>
        <ion-button expand="block" fill="outline" (click)="showForm = false">Cancel</ion-button>
      </div>
    </div>

    <!-- Add Vehicle Button -->
    <div class="add-button" *ngIf="!showForm">
      <ion-button expand="block" (click)="showForm = true">Add Vehicle</ion-button>
    </div>
  </div>
</ion-content>

<!-- Fixed Bottom Navigation -->
<ion-footer>
  <ion-toolbar class="bottom-nav">
    <ion-grid>
      <ion-row>
        <!-- Garage -->
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/garage" (click)="goToGarage()">
            <ion-icon name="car-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Track Finder -->
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/track-finder" (click)="goToTrackFinder()">
            <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Home (Center Button) -->
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/home" (click)="goHome()">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Modifications -->
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/modifications" (click)="goToModifications()">
            <ion-icon name="hammer-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- Rider Stats -->
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/track-mode" (click)="goToTrackMode()">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
