.home-content {
    --background: #FFA500; 
    text-align: center;
    color: #fff;
    padding: 16px;
    position: relative;
  }
  
  .content-wrapper {
    margin-top: 40px;
  }
  
  .app-logo {
    width: 150px;
    height: auto;
    margin-bottom: 16px;
  }
  
  h1 {
    font-size: 2em;
    margin: 16px 0;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    margin: 16px 0;
  }
  
  /* Bottom Navigation Style */
  .bottom-nav {
    background-color: #000; 
    border-top: 2px solid #FFA500;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    padding: 8px 0;
  }
  
  :host {
    ion-icon {
      color: #fff; /* For a subtle contrast, if you prefer accent color, change to #FFA500 */
      font-size: 1.5rem;
    }
  }
  
  /* Use ion-footer to fix the bottom nav */
  ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  