<ion-header>
  <ion-toolbar>
    <ion-title>Modifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Modification Name</ion-label>
    <ion-input [(ngModel)]="modification.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cost</ion-label>
    <ion-input type="number" [(ngModel)]="modification.cost"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="modification.description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="takePicture()">Add Image</ion-button>
  <div *ngIf="modification.image">
    <img [src]="modification.image" alt="Modification Image" style="max-width: 100%;">
  </div>
  <ion-button expand="block" (click)="saveModification()">Save Modification</ion-button>
</ion-content>
