<ion-content class="ion-padding">
  <h2>Password Recovery</h2>
  <form [formGroup]="recoveryForm" (ngSubmit)="sendResetEmail()">
    <ion-item>
      <ion-label position="floating">Registered Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    
    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!recoveryForm.valid || isSending"
    >
      <ion-spinner *ngIf="isSending"></ion-spinner>
      Send Reset Link
    </ion-button>
  </form>

  <ion-text color="medium" class="ion-text-center ion-margin-top">
    <p>Check your email for a password reset link</p>
  </ion-text>
</ion-content>